extends layout/base

block content
    .container-fluid
        header.row
            .col-lg-3.col-md-3(name='left')
                p Something goes here
            .col-lg-6.col-md-6(name='center')
                p Something goes here
            .col-lg-3.col-md-3(name='right')
                p Welcome, #{user.username} !
        .row.row-full
            .col-lg-3.col-md-3(name='left')
                .weather.module-2
                        .module-header
                            h2
                                i.fa.fa-sun-o
                                |  Weather
                                i.fa.fa-cog.pull-right(onclick='toggleLeftModuleSettings(this, "weather")')
                            hr
                        .module-content
                            if errors.weatherConditions
                                p Error fetching Weather Conditions. Please try later.
                            else if weather.conditions
                                .weather-current
                                    img(src='./images/weather/' + weather.conditions.icon + '.svg')
                                    p.weather-degree= weather.conditions.temperature + ' ºC'
                                    p.weather-description= weather.conditions.description
                            if errors.weatherForecast
                                p Error fetching Weather Forecast. Please try later.
                            else if weather.forecast
                                .weather-forecast
                                    ul
                                        each val in [0, 1, 2, 3]
                                            li(data-day='' + val)
                                                p.day-title= weather.days[val]
                                                p.temps
                                                    span.hi= weather.forecast.forecastday[val].high.celsius + 'ºC'
                                                    span |
                                                    span.lo= weather.forecast.forecastday[val].low.celsius + 'ºC'
                                                img(src='./images/weather/' + weather.forecast.forecastday[val].icon + '.svg')
                                                p.cond-text= weather.forecast.forecastday[val].conditions
                                                div
                                                    span.pop
                                                    span.hura= weather.forecast.forecastday[val].avehumidity + ' % /' + weather.forecast.forecastday[val].qpf_allday.mm + ' mm'
                                p.location= weather.conditions.location

                            .module-settings.module-settings-left.weather-settings
                                p.p1.text-center Location Settings
                                .row.disp-flex
                                    .col-md-3.padding-both-5
                                        button.btn.btn-search(type='button', name='weather-settings-autolocation', id='weather-autolocation') Auto Location
                                    .col-md-6.padding-both-5
                                        p.p2.text-center Country
                                        .input-group.setting-input.setting-input-first
                                            span.input-group-addon
                                                i.fa.fa-map-marker.fa-fw.white
                                            input.form-control(type='text', name='weather-country', placeholder='Country', id='autocomplete-countries')
                                        p.p2.text-center City
                                        .input-group.setting-input
                                            span.input-group-addon
                                                i.fa.fa-map-marker.fa-fw.white
                                            input.form-control(type='text', name='weather-city', placeholder='City',  id='autocomplete-cities')
                                    .col-md-3.padding-both-5
                                        button.btn.btn-search(type='button', name='weather-settings-search', id='weather-search-location') Search
                                div#map
                                button.btn.btn-update(type='button', name='weather-settings-submit', id='weather-settings-submit') Update

                .email.module-2
                    h2
                        i.fa.fa-envelope-o
                        |  Email
                        i.fa.fa-cog.pull-right(onclick='toggleLeftModuleSettings(this, "email")')
                    hr
                    .module-settings.module-settings-left.email-settings
                            p A testar posicao absolute com parent relativo
                            form#email-settings(action='#', role='form')
                                .form-group.input-group
                                    span.input-group-addon
                                        i.fa.fa-envelope.fa-fw
                                    input.form-control(type='email', name='login-email', placeholder='Email', value='')
                                .form-group.input-group
                                    span.input-group-addon
                                        i.fa.fa-lock.fa-fw
                                    input.form-control(type='password', name='login-password', placeholder='Password')
                                .form-group
                                    .row
                                        .col-sm-6.col-sm-offset-3
                                            input.form-control.btn.btn-login(type='submit', name='login-submit', value='Log In')
            .col-lg-6.col-md-6(name='center')
                p.welcome Welcome
            .col-lg-3.col-md-3(name='right')
                .module.tv
                    .module__header
                        h2
                            i.fa.fa-television
                            |  TV Shows
                            i.fa.fa-cog.pull-right(onclick='toggleRightModuleSettings(this, "tv")')
                        hr
                    .module__content
                        ul.tv__listleft
                            each val in [0, 1, 2, 3, 4]
                                if val == 2
                                    li.today
                                        p= tv.days[val]
                                else
                                    li
                                        p= tv.days[val]

                        ul.tv__listright
                            if errors.tvList
                                p Error fetching TV Shows. Please try later.
                            else
                                each val in [1, 2, 3, 4, 5]
                                    - var day = 'day' + val;
                                    li(data-tv-day=day, class=(val == 3) ? 'today' : '')
                                        if (!tv.list[day])
                                            p No TvShows today !
                                        else
                                            each val in tv.list[day]
                                                p= val
                        //- .module-settings.module-settings-right.tv-settings
                            ul.tv-settings-primary
                                li.active Manage
                                span
                                li(onclick='populateSelect()') Option
                            ul.tv-settings-secondary
                                li.active-sub Subtitles
                                li(onclick='populateCheckboxes()') Downloads
                                    
                            .tv-settings-content

                                .tv-settings-content-subtitles
                                    p Language:
                                    select.subtitles-language
                                        option(value='Deutsch') Deutsch
                                        option(value='English') English                                    
                                        option(value='Français') Français
                                        option(value='Italiano') Italiano
                                        option(value='Português') Português
                                    p THIS FEATURE IS NOT WORKING YET.
                                    button.btn.btn-update(type='button', name='tv-settings-subtitles-submit', id='tv-settings-language') Update

                                .tv-settings-content-downloads
                                    p Quality:
                                        label
                                            input(type='checkbox', name='quality', value='720p') 
                                            | 720p
                                        label
                                            input(type='checkbox', name='quality', value='1080p')
                                            | 1080p
                                        label
                                            input(type='checkbox', name='quality', value='4k')
                                            | 4k
                                    p Source:
                                        input(type='checkbox', name='source', value='hdtv')
                                        | HDTV
                                        input(type='checkbox', name='source', value='web-dl')
                                        | WEB-DL
                                        input(type='checkbox', name='source', value='web-rip')
                                        | WEB-RIP
                                    button.btn.btn-update(type='button', name='tv-settings-downloads-submit', id='tv-settings-source') Update

                                ul.tv-settings-content-showlist
                                    each val in tv.settings
                                        li(data-tvshow=val)= val
                                            span.tv-settings-delete.pull-right -

                .module.movies
                    .module__header
                        h2
                            i.fa.fa-film
                            |  Movies
                            i.fa.fa-cog.pull-right(onclick='toggleRightModuleSettings(this, "movies")')
                        hr
                    .module__content
                        if errors.moviesList
                            p Error fetching Movies. Please try later.
                        else
                            img(src=movies.list[0])
                            img(src=movies.list[1])
                            //- .movie(style="background-image: url(" + movies.list[0] + ")")
                            //-     .movie-overlay
                            //- .movie(style="background-image: url(" + movies.list[1] + ")")
                            //-     .movie-overlay     
                        //- .module-settings.module-settings-right.movies-settings
                                .movies-settings-content
                                    p.text-center Filters
                                    ul.movies-settings-filters-list
                                        //- Dummy data
                                        li.movies-settings-filter Gender
                                            span.movies-settings-subfilter
                                            | Comedy
                                            span.pull-right -

                                        li.movies-settings-filter Rating
                                            span.movies-settings-subfilter
                                            | > 7.0
                                            span.pull-right -
                                        //- END Dummy data
                                        li.movies-settings-addfilter
                                            | Add filter
                                            select.add-filter
                                                option(value='Rating') Rating
                                                option(value='Gender') Gender                                    
                                                option(value='Airdate') Airdate
                                            button.pull-right(type='button', name='movies-settings-filters-openoverlay') Add Filter
                                .movies-settings-filters-overlay


block scripts
